html{
    scroll-behavior: smooth;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    overflow: hidden;
}
nav li{
    float: left;
    width: 33.33%;
    text-align: center;
}
nav li a{
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    background-color: lightgray;
    border: solid 2px darkgray;
}
nav li a:hover{
    color: black;
    text-decoration: underline;
    background-color: darkgray;
}
nav li a:focus{
    background-color: black;
    color: white;
    text-decoration: underline;
}

.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}
.skip a{
    position: absolute;
    margin-top: -60px;
    margin-left: auto;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    background-color: lightgray;
    border: solid 2px darkgray;
    overflow: hidden;
}
.skip a:focus{
    position: absolute;
    margin-top: 46px;
    margin-left: 10px;
}

@media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto; /* Removes scroll animation */
    }
  
    .skip a{
      -webkit-transition: none; /* sets to default setting */
      transition: none;        /* sets to default setting */
     }
  
    /*Turn off parallax*/
    header{
      background-attachment: initial;
    }
}

.profile-buttons{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-left: auto;
    margin-right: auto;
}
/* .profile-buttons img{
    border-radius: 50%;
    border: solid 4px black;

} */

.bacon-btn{
    border-radius: 50%;
    border: solid 6px #b7b7ef;
}

.rocky-btn{
    border-radius: 50%;
    border: solid 6px lightpink;
}

.oliver-btn{
    border-radius: 50%;
    border: solid 6px lightgreen;
}

.cheeto-btn{
    border-radius: 50%;
    border: solid 6px lightblue;
}

.tucker-btn{
    border-radius: 50%;
    border: solid 6px orange;
}

.title{
    font-size: 50px;
    background-color: lightgray;
    border: 5px solid gray;
    padding: 10px;
    border-radius: 30px;
}

.pet-names{
    display: none;
}

.bacon{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-bottom: 50px;
}
.bacon-img{
    margin-left: auto;
    margin-right: auto;
    border: 10px solid #b7b7ef;
    padding: 15px;
    border-top-right-radius: 30px;
}
.bacon-info h2{
    color: #25257c;
    text-align: left;
    font-size: 30px;
    background-color: #f2f2ff;
    border: 4px solid #b7b7ef;
    padding: 10px;
    border-radius: 10px;
}
.bacon-info p{
    text-align: left;
}
.bacon-likes{
    background-color: #b7b7ef;
    border: 5px solid #25257c;
    border-radius: 30px;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.bacon-likes h3{
    color: #25257c;
    text-align: center;
    font-size: 30px;
}
.bacon-likes ul{
    color: #25257c;
    text-align: left;
    line-height: 3;
    list-style-type: none;

}

.rocky{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    direction: rtl;
    padding-top: 20px;
    padding-bottom: 50px;
}
.rocky-img{
    margin-left: auto;
    margin-right: auto;
    border: 10px solid lightpink;
    padding: 15px;
    border-top-left-radius: 30px;
}
.rocky-info h2{
    color: rgb(146, 15, 52);
    text-align: right;
    font-size: 30px;
    background-color: rgb(255, 233, 237);
    border: 4px solid lightpink;
    padding: 10px;
    border-radius: 10px;
}
.rocky-info p{
    text-align: right;
}
.rocky-likes{
    background-color: lightpink;
    border: 5px solid rgb(146, 15, 52);
    border-radius: 30px;
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.rocky-likes h3{
    color: rgb(146, 15, 52);
    text-align: center;
    font-size: 30px;
}
.rocky-likes ul{
    color: rgb(146, 15, 52);
    list-style-type: none;
    padding-left: 40px;
    text-align: left;
    line-height: 3;
}

.cheeto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 50px;
}
.cheeto-img{
    margin-left: auto;
    margin-right: auto;
    border: 10px solid lightblue;
    padding: 15px;
    border-top-right-radius: 30px;

}
.cheeto-info h2{
    color: rgb(24, 91, 113);
    text-align: left;
    font-size: 30px;
    background-color: rgb(227, 244, 255);
    border: 4px solid lightblue;
    padding: 10px;
    border-radius: 10px;
}
.cheet-info p{
    text-align: left;
}
.cheeto-likes{
    background-color: lightblue;
    border: 5px solid rgb(24, 91, 113);
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 30px;
}
.cheeto-likes h3{
    color: rgb(24, 91, 113);
    text-align: center;
    font-size: 30px;
}
.cheeto-likes ul{
    color: rgb(24, 91, 113);
    list-style-type: none;
    padding-left: 40px;
    text-align: left;
    line-height: 3;
}


.oliver{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-top: 20px;
    direction: rtl;
    padding-bottom: 50px;
}
.oliver-img{
    margin-left: auto;
    margin-right: auto;
    border: 10px solid lightgreen;
    padding: 15px;
    border-top-left-radius: 30px;

}
.oliver-info h2{
    color: rgb(1, 50, 1);
    text-align: right;
    font-size: 30px;
    background-color: rgb(233, 255, 233);
    border: 4px solid lightgreen;
    padding: 10px;
    border-radius: 10px;
}
.oliver-info p{
    text-align: right;
}
.oliver-likes{
    background-color: lightgreen;
    border: solid 5px rgb(1, 50, 1);
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 30px;
}
.oliver-likes h3{
    color: rgb(1, 50, 1);
    text-align: center;
    font-size: 30px;
}
.oliver-likes ul{
    color: rgb(1, 50, 1);
    list-style-type: none;
    padding-left: 40px;
    text-align: left;
    line-height: 3;
}

.tucker{
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 50px;
}
.tucker-img{
    margin-left: auto;
    margin-right: auto;
    border: 10px solid orange;
    padding: 15px;
    border-top-right-radius: 30px;
}
.tucker-info h2{
    color: rgb(53, 35, 3);
    background-color: rgb(255, 241, 216);
    border: 4px solid orange;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
    font-size: 30px;
}
.tucker-info p{
    text-align: left;
    /* margin-left: 10px;
    margin-right: 10px; */
}
.tucker-likes{
    background-color: orange;
    border: solid 5px rgb(53, 35, 3);
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 30px;
}
.tucker-likes h3{
    color: rgb(53, 35, 3);
    text-align: center;
    font-size: 30px;
}
.tucker-likes ul{
    color: rgb(53, 35, 3);
    list-style-type: none;
    padding-left: 40px;
    text-align: left;
    line-height: 3;
}

@media screen and (max-width:800px) {
    .profile-buttons{
        display: none;
    }
    
    .pet-names {
        display: block;
    }
    .button1{
        display: inline-block;
        padding: 10px;
        font-size: 20px;
        cursor: pointer;
        text-align: center;
        background-color: #b7b7ef;
        border-radius: 10px;
        color: #25257c;
        border: #25257c solid 4px;
        box-shadow: 0 9px #999;

    }
    .button1:active{
        background-color: #b7b7ef;
        border: #25257c solid 4px;
        box-shadow: 0 5px #666;
        transform: translateY(4px)
    }
    .button2{
        display: inline-block;
        padding: 10px;
        font-size: 20px;
        cursor: pointer;
        text-align: center;
        background-color:lightpink;
        border-radius: 10px;
        border: rgba(146, 15, 52) solid 4px;
        box-shadow: 0 9px #999;

    }
    .button2:active{
        background-color: lightpink;
        border: rgba(146, 15, 52) solid 4px;
        box-shadow: 0 5px #666;
        transform: translateY(4px)
    }
    .button3{
        display: inline-block;
        padding: 10px;
        font-size: 20px;
        cursor: pointer;
        text-align: center;
        background-color:lightblue;
        border-radius: 10px;
        border: rgb(24, 91, 113) solid 4px;
        box-shadow: 0 9px #999;

    }
    .button3:active{
        background-color: lightblue;
        border: rgb(24, 91, 113) solid 4px;
        box-shadow: 0 5px #666;
        transform: translateY(4px)
    }
    
    .button4{
        display: inline-block;
        padding: 10px;
        font-size: 20px;
        cursor: pointer;
        text-align: center;
        background-color:lightgreen;
        border-radius: 10px;
        border: rgb(1, 50, 1) solid 4px;
        box-shadow: 0 9px #999;

    }
    .button4:active{
        background-color: lightgreen;
        border: rgb(1, 50, 1) solid 4px;
        box-shadow: 0 5px #666;
        transform: translateY(4px)
    }
    .button5{
        display: inline-block;
        padding: 10px;
        font-size: 20px;
        cursor: pointer;
        text-align: center;
        background-color:orange;
        border-radius: 10px;
        border: rgb(53, 35, 3) solid 4px;
        box-shadow: 0 9px #999;

    }
    .button5:active{
        background-color: orange;
        border: rgb(53, 35, 3) solid 4px;
        box-shadow: 0 5px #666;
        transform: translateY(4px)
    }


    .bacon{
        display: grid;
        grid-template-columns: 1fr;
    }
    .bacon-info h2{
        text-align: center;
    }
    .bacon-info p{
        text-align: left;
        padding: 10px;
    }
    .bacon-likes{
        padding: 5px;
    }
    .bacon-likes h3{
        line-height: 0;
    }
    .bacon-likes ul{
        line-height: 1.5;
    }

    .rocky{
        display: grid;
        grid-template-columns: 1fr;
    }
    .rocky-info h2{
        text-align: center;
    }
    .rocky-info p{
        text-align: left;
        padding: 10px;
    }
    .rocky-likes{
        padding: 5px;
    }
    .rocky-likes h3{
        line-height: 0;
    }
    .rocky-likes ul{
        line-height: 1.5;
    }

    .cheeto{
        display: grid;
        grid-template-columns: 1fr;
    }
    .cheeto-info h2{
        text-align: center;
    }
    .cheeto-info p{
        text-align: left;
        padding: 10px;
    }
    .cheeto-likes{
        padding: 5px;
    }
    .cheeto-likes h3{
        line-height: 0;
    }
    .cheeto-likes ul{
        line-height: 1.5;
    }

    .oliver{
        display: grid;
        grid-template-columns: 1fr;
    }
    .oliver-info h2{
        text-align: center;
    }
    .oliver-info p{
        text-align: left;
        padding: 10px;
    }
    .oliver-likes{
        padding: 5px;
    }
    .oliver-likes h3{
        line-height: 0;
    }
    .oliver-likes ul{
        line-height: 1.5;
    }

    .tucker{
        display: grid;
        grid-template-columns: 1fr;
    }
    .tucker-info h2{
        text-align: center;
    }
    .tucker-info p{
        text-align: left;
        padding: 10px;
    }
    .tucker-likes{
        padding: 5px;
    }
    .tucker-likes h3{
        line-height: 0;
    }
    .tucker-likes ul{
        line-height: 1.5;
    }
}
